/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
html, body, #map {width: 100%; height: 100%;}
body { line-height: 1; }
ol, ul { list-style: none;  }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* tables still need 'cellspacing='0'' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: 0; }

/* --------------------------------------------------------
  Global styles
--------------------------------------------------------- */

body {
  background-color: #111;
  font-size: 15px;
  line-height: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: #999;
}

h1 {
  font-size: 25px;
  font-weight:900;
  padding: 10px 0;
  letter-spacing: -.05em;
  color: #999;
  margin-bottom: 5px;
  }
  h1 .green-data {
    color: #eee;
    }

p {
  padding: 0 0 10px 0;
  }

a {
  color: #eee;
  text-decoration: none;
  }

/* --------------------------------------------------------
  Layout
--------------------------------------------------------- */

#map {
  position:fixed !important;
  width:auto !important;
  height:auto !important;
  top:100px;
  left:290px;
  right:0;
  bottom:0;
  background-color: #000;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 10px 20px;
  z-index: 2;
  }

#sidebar {
  position: absolute;
  width: 280px;
  padding-left: 10px;
  top: 100px;
  left: 0;
  bottom: 0;
  z-index: 1;
  }

#attribution {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 10px;
  }

/* --------------------------------------------------------
  Layer switcher
--------------------------------------------------------- */
#layer-switcher li {
  padding-left: 10px;
  margin-bottom: -1px;
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
}
#layer-switcher li a.title {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0;
  display: block;
  text-decoration: none;
  color: #333;
  }
  #layer-switcher li:hover {
    background-color: #191919;
    }
  #layer-switcher li.active a.title {
    color: #eee;
    }
#layer-switcher li .description {
  display: none;
  color: #999;
  padding: 10px 0;
  }
#layer-switcher li.active .description {
  display: block;
  }
#layer-switcher li.active {
  background-color: #222;
}

/* Reinvent green 'logo' */
#reinventgreen {
  position: absolute;
  top: 35px;
  right: 20px;
  font-size: 20px;
  font-weight: 800;
  font-family:  sans-serif;
}

/* Notes */
#sidebar .notes {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 12px;
  line-height: 18px;
  color: #333;
  }
  #sidebar .notes a {
    color: #555;
  }

/* --------------------------------------------------------
  Wax, largely taken from theme/controls.css
--------------------------------------------------------- */

a.zoomer {
  text-decoration:none;
  position:absolute;
  background-color:#fff;
  line-height:30px;
  font-size:20px;
  z-index:99999;
  text-align:center;
  width:30px;
  height:30px;
  top: 20px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: #333;
  box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  -moz-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  -webkit-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  }
  a.zoomin {
    left:20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    }
  a.zoomout {
    left:50px;
    border-left: 1px solid #ccc;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    }

.wax-legends {
  position:absolute;
  right:20px;
  bottom:20px;
  z-index:999999;
  }

.wax-legends .wax-legend {
  padding:10px;
  background:#fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  -moz-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  -webkit-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  }

.wax-tooltip {
  color: #333;
  width: 250px;
  z-index:999999;
  position:absolute;
  background:#fff;
  padding:10px;
  -webkit-user-select:auto;
  right:20px;
  top:20px;
  max-width:300px;
  opacity:1;
  -webkit-transition:opacity 150ms;
  -moz-transition:opacity 150ms;
  border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  -moz-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  -webkit-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  }

.wax-fade {
  opacity:0;
  transition: opacity .5s;
  -moz-transition: opacity .5s; /* Firefox 4 */
  -webkit-transition: opacity .5s; /* Safari and Chrome */
  -o-transition: opacity .5s; /* Opera */
  }

  .wax-tooltip .close {
    display:block;
    position:absolute;
    top:0px;
    right:0px;
    }